body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    background-color: #282828;
}

p, strong {
    color: #928374;
}

section {
    padding: 10px;
    border: 1px solid #928374;
    margin: 10px;
    border-radius: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto;
}

#diceSection {
    grid-row: 1;
    grid-column: 1 /span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

#controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

#controls p {
    margin: 0;
    margin-right: 20px;
}

#scoreSection {
    grid-row: 2;
    grid-column: 1;
}

#playerSection {
    grid-row: 2;
    grid-column: 2;
}

@media (max-width: 700px) {
    .grid-container {
        grid-template-columns: 1fr;
    }

    #diceSection, #scoreSection, #playerSection {
        grid-column: 1;
    }

    #diceSection {
        grid-row: 1;
    }

    #scoreSection {
        grid-row: 2;
    }

    #playerSection {
        grid-row: 3;
    }
}

input[type="text"] {
    width: 50px;
    background-color: #fbf1c7;
}

#btnRoll {
    background-color: #fe8019;
    border-radius: 5px;
    padding: 10px 10px;
    margin: 10px;
}

#btnRoll:hover {
    background-color: #d65d0e;
}

#btnRoll:active {
    background-color: #af3a03;
}

#scorePane {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr 2fr;
}

label {
    color:#928374;
}

.btnScores {
    color: #282828;
    background-color: #fbf1c7;
    border-radius: 2px;
    padding: 4px 7px;
    width: 130px;
}

.btnScores:hover {
    background-color: #7c6f64;
}

.btnScores:active {
    background-color: #665c54;
}

.btnScores:disabled {
    background-color: #665c54;
}

.col1 {
    grid-column: 1;
}

.col2 {
    grid-column: 2;
}

.col3 {
    grid-column: 3;
}

.col4 {
    grid-column: 4;
}

.dice {
    flex: 1;
    max-width: 10%;
    height: auto;
    margin: 5px;
}

.player0 {
    color: #fb4934;
}

.player1 {
    color: #b8bb26;
}

.player2 {
    color: #fabd2f;
}

.player3 {
    color: #83a598;
}

.player4 {
    color: #d3869b;
}

.player5 {
    color: #8ec07c;
}

.player6 {
    color: #fe8019;
}